<a href="https://colab.research.google.com/github/Kunal16011995/Data-Science/blob/main/Pattern%20recognisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
url = 'https://launchpad.net/~mario-mariomedina/+archive/ubuntu/talib/+files'
!wget $url/libta-lib0_0.4.0-oneiric1_amd64.deb -qO libta.deb
!wget $url/ta-lib0-dev_0.4.0-oneiric1_amd64.deb -qO ta.deb
!dpkg -i libta.deb ta.deb
!pip install ta-lib
import talib

Selecting previously unselected package libta-lib0.
(Reading database ... 160980 files and directories currently installed.)
Preparing to unpack libta.deb ...
Unpacking libta-lib0 (0.4.0-oneiric1) ...
Selecting previously unselected package ta-lib0-dev.
Preparing to unpack ta.deb ...
Unpacking ta-lib0-dev (0.4.0-oneiric1) ...
Setting up libta-lib0 (0.4.0-oneiric1) ...
Setting up ta-lib0-dev (0.4.0-oneiric1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting ta-lib
  Downloading https://files.pythonhosted.org/packages/ac/cf/681911aa31e04ba171ab4d523a412f4a746e30d3eacb1738799d181e028b/TA-Lib-0.4.19.tar.gz (267kB)
     |████████████████████████████████| 276kB 19.6MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ta-lib) (1.19.5)
Building wheels for collected packages: ta-lib
  Building wheel for ta-lib (setup.py) ... done
  Created wheel for ta-lib: filename=TA_Lib-0.4.19-cp37-cp37m-linux_x86_64.whl size=1437980 sha256=43ec87bc1407c5df10f62ca2ac7c623d344ea8bfc856de4882e053434427c599
  Stored in directory: /root/.cache/pip/wheels/a3/f6/12/3d1ccd06caadd8fa47e016991dd0d27f1163bb260f1854e2ff
Successfully built ta-lib
Installing collected packages: ta-lib
Successfully installed ta-lib-0.4.19

In [2]:
import pandas as pd

In [4]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a9/8f/2a053003f7d6e8c1caa7b61499dfc3a7c33bdc85a06fa00d5a7445e2fb1f/yfinance-0.1.56.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/cf/4d/6537313bf58fe22b508f08cf3eb86b29b6f9edf68e00454224539421073b/lxml-4.6.3-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 22.4MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.56-py2.py3-none-any.whl size=22627 sha256=1de1649068055861050d0ae10b43ee58eb447eb7e3f8be074e358c534ac83430
  Stored in directory: /root/.cache/pip/wheels/e9/26/69/ebde3c87490e75c5d8b06cf2dd284d1183ca1bb814b1d5f18c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.56

In [5]:
import yfinance as yf

In [7]:
data = yf.download("HDFCBANK.NS",start="2010-01-01",end="2021-03-01")

[*********************100%***********************]  1 of 1 completed

In [9]:
data

                   Open         High  ...    Adj Close    Volume
Date                                  ...
2010-01-04   170.000000   172.850006  ...   158.248413   3050490
2010-01-05   171.000000   172.500000  ...   158.387589   8386600
2010-01-06   171.399994   172.000000  ...   158.494308   6639840
2010-01-07   176.839996   176.839996  ...   158.907150   6123980
2010-01-08   171.199997   172.339996  ...   159.115891   7085900
...                 ...          ...  ...          ...       ...
2021-02-22  1545.050049  1573.900024  ...  1548.000000  14725919
2021-02-23  1553.750000  1557.699951  ...  1529.150024   9119953
2021-02-24  1526.500000  1613.949951  ...  1606.449951   7157166
2021-02-25  1609.750000  1636.250000  ...  1606.400024  10054785
2021-02-26  1587.050049  1588.900024  ...  1534.400024  13956423

[2751 rows x 6 columns]

In [19]:
integer = talib.CDLENGULFING(data['Open'], data['High'], data['Low'], data['Close'])

In [20]:
integer

Date
2010-01-04      0
2010-01-05      0
2010-01-06      0
2010-01-07      0
2010-01-08      0
             ...
2021-02-22      0
2021-02-23   -100
2021-02-24    100
2021-02-25      0
2021-02-26      0
Length: 2751, dtype: int32

In [21]:
print(integer[integer!=0])

Date
2010-01-11   -100
2010-01-14   -100
2010-01-18    100
2010-01-20   -100
2010-01-29    100
             ...
2020-11-25   -100
2021-01-01   -100
2021-02-04    100
2021-02-23   -100
2021-02-24    100
Length: 229, dtype: int32